<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Books</title>
  <script src="/home/main.js"></script>
  <link rel="stylesheet" href="/home/index.css">

  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@300;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,700;1,100&display=swap" rel="stylesheet">
  <style>
    .nav-link-category{
    color: white;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: white;
  }
  </style>
</head>
</head>


<body>

  <div class="welcome-msg">
    <p>Welcome to our store</p>
  </div>
  <nav>
    <div class="nav-1">
      <img src="/home/search-icon.png" alt="" class="search-icon" onclick="showSearch()">
      <a href="/index" class="home-link">
        <h1 class="home-title-heading">Booksella</h1>
      </a>
      <a href="/cart" class="cart-count">Cart (
        <% if (typeof cart !== "undefined") { %>
          <%= cart.length %>
          <% } else {%>
          0
          <% } %>
      )</a>
      <a href="/profile"> <img src="/home/user-icon.png" alt="" class="user-icon"></a>

    </div>
    <div class="nav-2">
      <ul class="nav-link">
        <li><a href="/index" >Home</a></li>
        <li><a href="/categories_list" class="nav-link-category">Categories</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/wishlist">Wishlist</a></li>
      </ul>
    </div>
    <div class="search-box" id="search-box">
      <input type="text" name="psearch" value="" id="ps">
      <!--<label for="">Search</label>-->
 
    <a id="kish" onclick="searchp()" ><img src="/home/search-icon.png" alt="" class="search-input-icon"  onclick="search()"></a> 
      <img src="/home/cancel-icon.png" alt="" class="cancel-input-icon" onclick="hideSearch()">
    </div>
  </nav>


 

 



  <!-- Product by categories -->
  <section class="best-seller">
    <h1 class="best-seller-heading"><%= title %></h1>
    <hr>
    <div class="best-seller-books">
      <% products.forEach(function(product){ %>
      <div class="book-1">
        <a href="/product_details/<%= product.category %>/<%= product.slug %>">
          <img src="/product_images/<%= product.id %>/<%= product.image %>" alt="" class="img1">
        </a>
        <p><a href="/product_details/<%= product.category %>/<%= product.slug %>"><%= product.title %></a></p>
        <p class="cost"><%= parseFloat(product.price).toFixed(2) %></p>

        <div class="cart-icon-container1 add-cart"><!-- Cart Hover -->
          <img src="/home/cart-icon.png" alt="" class="cart-icon-bestseller">
          <p>Add To Cart</p>
        </div>

      </div> 
      <% }); %>
    </div>

   

  </section>




  <%- include('../layouts/footer') %>



  <!-- search and cancel -->
  <script type="text/javascript">
    var search = document.getElementById("search-box");

    function showSearch() {
      search.style.display = "block";
    }

    function hideSearch() {
      search.style.display = "none";
    }
  </script>

  
  <script src="/home/main.js">
  </script>
</body>

</html>
