<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>

  <link rel="stylesheet" href="/home/admin.css">
 
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@300;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,700;1,100&display=swap" rel="stylesheet">
</head>

<body>

  <div class="welcome-msg">
    <p>Welcome to our store</p>
  </div>
  <nav>
    <div class="nav-1">
      
      <a href="/admin/admin_index" class="home-link">
        <h1 class="home-title-heading">Booksella</h1>
      </a>
     <a href="/login"> <img src="https://cdn-icons-png.flaticon.com/512/5509/5509597.png" alt="" class="user-icon"></a>
      <span class="logout-text"></span>
    </div>
    <div class="nav-2">
      <ul class="nav-link">
        <li><a href="/admin/admin_index" class="nav-link-home">Home</a></li>
        <li><a href="/admin/products">Product</a></li>
        <li><a href="/admin/category">Category</a></li>
         
       
      </ul>
    </div>

  </nav>


  <table class="admin-product-table">
    <thead>
        <tr class="home">
            <th>Product</th>
            <th>Quantity</th>
             <th>Date</th>
            <th>Order Id</th>
            <th>Email</th>
            <th>Address</th>
            <th>Order Status</th>
            <th>Payment Mode</th>
        
           
        </tr>
    </thead>

 <tbody>
       
        <tr>
            <td>
          
                <% order.product.forEach(function(product){ %>
                <p><%=  product.title %></p>
                
                <% }); %>
            </td>
            <td>
             
                <% order.product.forEach(function(product){ %>
                <p>Qty-<%= product.Qty %></p>
                <% }); %>
            
            </td>
            <td> <%= order.date %></td>
            <td> <%= order.orderId %></td>
            <td><%= order.email%></td>
            <td>
                <% order.Address.forEach(function(Address){ %>
              <p><%= Address.street%>,<%= Address.city%>,<%= Address.zip%>,<%= Address.state%>,<%= Address.country%></p>
                 
              <% }); %>
            </td>    
            <td><%= order.paymentstatus%></td>
               <td>  <%= order.paymentmode%></td>
              
        </tr>
       
    </tbody>
</table>


<h2 class="delivery-status-h2">Delivery Status</h2>

<form method="post" action="/admin/order/edit-order/<%= id %>" enctype="multipart/form-data" >
<div class="form-group-index">
    
    <select name="category" class="form-control">
       
            <option value="Proccessing">Proccessing</option>
            <option value="Shipping">Shipping</option>
            <option value="Deliverd">Deliverd</option>
      
    </select>
</div>

<button class="add_category_Submit">Submit</button>
</form>



</body>